* {
  padding: 0px;
  margin: 0px;
}

.bignav-position {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 280px;
  height: 100vh;
}

.smallnav-position {
  position: absolute;
  top: 90vh;
  width: 100%;
}

.headerbig-position {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 280px;
}

.headersmall-position {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}

.main-position {
  position: absolute;
  top: 90px;
  left: 300px;
  right: 24px;
  height: 90vh;
}

.feed-home {
  height: 65vh !important;
}

.feed {
  height: 100%;
}

.explor-home {
  height: 78vh !important;
}

.mass-home {
  width: 100%;
  height: 88vh !important;
  margin-right: 24px;
}

.mass-box {
  width: 60vh;
  height: 88vh !important;
}

.mass-box-card {
  width: auto;
  height: auto;
}

.mass-position-start {
  margin-right: 14px;
  position: absolute;
  left: 14px;
}

.mass-position-end {
  margin-left: 14px;
  position: absolute;
  right: 14px;
}

.mass-position-start2 {
  margin-right: 14px;
  position: absolute;
  left: 14px;
}

.mass-round-start {
  border-radius: 8px 8px 8px 0px;
}

.mass-round-end {
  border-radius: 8px 8px 0px 8px;
}

.profile {
  width: 100%;
  height: fit-content;
}

.profile-post {
  width: 100%;
  height: 60vh !important;
}

.post-img {
  width: 100vh;
  height: 100vh;
}

.avatar-img {
  width: 48px;
  height: 48px;
}

.inpurtext:focus {
  outline: none;
}

.onlinebadeg {
  position: absolute;
  top: 48px;
  right: 8px;
  width: auto;
  height: auto;
  padding: 6px;
  background-color: rgb(0, 209, 0);
  border-radius: 10px;
  border: solid 2px white;
}

.Searchicon {
  background-position: 8px 7px;
  background-repeat: no-repeat;
  background-image: url(Icon/search_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.Profile-edit {
  width: fit-content;
}


@media (max-width: 768px) {
  .bignav-position {
    visibility: hidden;
  }

  .headerbig-position {
    visibility: hidden;
  }

  .main-position {
    position: absolute;
    top: 128px;
    left: 8px;
    right: 8px;
    height: 72vh;
    overflow-x: scroll;
  }

  .feed-home {
    height: 71vh !important;
  }

  .feed {
    overflow-y: scroll;
    height: auto;
  }

  .main-tagnav {
    width: fit-content;
    overflow-y: scroll;
  }

  .mass-direct {
    display: flex;
    flex-direction: column-reverse;
  }

  .mass-home {
    margin-top: 8px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    width: 100%;
    height: 55vh !important;
    
  }

  .mass-box {
    margin-top: 8px !important;
    margin-bottom: 0px !important;
    width: 100%;
    height: auto !important;
  }

  .profile-post {
    width: 100%;
    height: 71vh !important;
  }

  .main-position>div {
    margin-top: 8px;
  }
}

@media (max-width: 991px) {
  .mass-direct {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: space-between;
  }

  .mass-home {
    width: 100%;
    height: 71vh !important;
    margin-bottom: 24px;
  }

  .mass-box {
    width: 100%;
    margin-bottom: 8px;
    height: auto !important;
  }
}

@media (min-width: 769px) {
  .smallnav-position {
    display: none;
  }

  .headersmall-position {
    visibility: hidden;
  }

  .feed {
    overflow: hidden;
  }

  .mass-direct {
    display: flex;
    justify-content: flex-end;
  }
}